@import url(../../fonts.css);
@import url(../../header.css);
@import url(../../fonts/stylesheet.css);
@import url(../../switcher.css);

* {
  margin: 0;
  padding: 0;
}

.alert__header {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 700;
  font-size: 22.4793px;
  line-height: 27px;
  letter-spacing: 0.247273px;
  color: #ffffff;
  margin-bottom: 6px;
}

.alert__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 42px);
  height: 54px;
  background: #ffffff;
  border-radius: 80px;
  margin: 0 auto;
}

.alert__btn__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12.9553px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.015em;
  color: #a27a1a;
}

.alert__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 11.2527px;
  line-height: 20px;
  letter-spacing: 0.015em;
  color: #a27a1a;
  margin-bottom: 19px;
  width: 232px;
}

.area {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 43px;
}

.area__inputs {
  display: flex;
  gap: 10px;
}

.area__inputs__inputWrapper {
  background: #ececec;
  border-radius: 4px;
  width: 145px;
  padding: 8px 9px 7px 11px;
  display: flex;
  justify-content: space-between;
}

.area__inputs__inputWrapper span sup {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 8.90221px;
  line-height: 153.19%;
  letter-spacing: 0.015em;
}

.area__header {
  text-align: end;
  width: 75px;
  padding-right: 5px;
}

.containerParams {
  display: flex;
  flex-direction: column;
}

.containerCreate {
  width: 445px;
  background: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.containerCreate__btn {
  background: #fac543;
  border-radius: 83.6364px;
  width: 316px;
  height: 69px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto 48px;
}

.containerCreate__btn span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15.362px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.015em;
  color: #866107;
}

.containerCreate__btn__gear,
.containerCreate__btn__vertLine,
.containerCreate__btnMobileSetings,
.containerCreate__btnMobileSetingsBack {
  display: none;
}

.containerCreate__settings {
  margin: 60px 41px 0 55px;
}

.containerCreate__settings__agents {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 31px;
}

.containerCreate__settings__name {
  margin-bottom: 25px;
}

.containerCreate__settings__name,
.containerCreate__settings__comment {
  padding: 11px 26px;
  background: #f7f7f7;
  border-radius: 4px;
}

.containerCreate__settings__name input,
.containerCreate__settings__comment textarea {
  font-family: "SF Pro Display";
  font-style: normal;
  font-size: 14.4669px;
  line-height: 21px;
  letter-spacing: 0.570958px;
  color: #9f9f9f;
  outline: none;
  border: none;
  background-color: transparent;
}

.containerCreate__settings__comment {
  min-height: 66px;
  margin-bottom: 27px;
}

.containerCreate__settings__comment textarea {
  font-weight: 400;
  resize: none;
  overflow: none;
  width: 100%;
}

.containerCreate__settings__linkExpire {
  display: flex;
  gap: 30px;
  align-items: center;
}

.containerCreate__settings__name input {
  font-weight: 700;
  width: 100%;
}

.containerCreate__settings__phones {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-bottom: 18px;
}

.containerCreate__settings__phones__switcher {
  display: flex;
  gap: 11px;
  align-items: center;
}

.containerCreate__settings__phones__switcher span {
  font-family: "Museo Sans Cyrl";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  color: #d49702;
}

.containerCreate__settings__startDate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.containerCreate__settings__startDate > span,
.containerCreate__settings__agents > span,
.containerCreate__btnMobileSetings__phones > span,
.containerCreate__btnMobileSetings__linkExpire > span,
.containerCreate__settings__phones > span,
.containerCreate__settings__linkExpire > span {
  font-family: "Museo Sans Cyrl";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  color: #d49702;
}
.contentWrapper {
  min-height: calc(100vh - 69px);
  min-width: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f7f7f7;
  justify-content: space-between;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 109px;
}

.content__container {
  display: flex;
  flex-wrap: wrap;
  width: 66%;
  gap: 58px;
  align-items: flex-start;
}

.content__header {
  margin-top: 37px;
  width: 66%;
  display: flex;
  justify-content: flex-start;
}

.content__header__text {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 41px;
  letter-spacing: 0.374px;
  color: #000000;
  margin-bottom: 35px;
  margin-left: 90px;
}

.content__header__mobileCityChange {
  display: none;
}

.deleteIcon {
  height: 18px;
  width: 17px;
}

.expireDate__wrapper {
  background: #f7f7f7;
  border-radius: 4px;
  width: 136px;
  height: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expireDate__wrapper img {
  margin-right: 22px;
}

.expireDate__wrapper span {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.455224px;
  color: #9f9f9f;
  margin-left: 22px;
}

.filtration {
  width: 66%;
  display: flex;
  gap: 82px;
  align-items: center;
  margin-bottom: 65px;
}

.levels {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 22px;
}

.levels__inputs {
  display: flex;
  gap: 10px;
}

.levels__inputs__inputWrapper {
  background: #ececec;
  border-radius: 4px;
  width: 139px;
  padding: 8px 15px 7px 11px;
  display: flex;
  justify-content: space-between;
}

.levels__header {
  text-align: end;
  width: 75px;
  padding-right: 5px;
}

.levels__header span {
  font-family: "Museo Sans Cyrl";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  text-align: right;
  color: #d49702;
}

.levelsBtns {
  margin-left: 90px;
  margin-bottom: 37px;
  display: flex;
  gap: 7px;
}

.levelsBtns__block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 108px;
  height: 32px;
  border: 1px solid #d49702;
  border-radius: 32px;
}

.levelsBtns__block span {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.570958px;
  color: #949494;
}

.note {
  line-height: 10px;
}

.mapSearch {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 90px;
  width: 350px;
  height: 65px;
  box-shadow: 0px 19.1026px 52.4454px -7.8806px rgba(105, 105, 105, 0.16);
  border-radius: 46.4062px;
  background: url(./assets/mapBackground.jpg);
}

.navbarMobile {
  display: none;
}

.mapSearch span {
  font-family: "Museo Sans Cyrl";
  font-style: normal;
  font-weight: 600;
  font-size: 12.609px;
  line-height: 20px;
  color: #383630;
}

.price {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 13px;
}

.price__inputs {
  display: flex;
  gap: 10px;
}

.price__inputs__inputWrapper {
  background: #ececec;
  border-radius: 4px;
  width: 139px;
  padding: 8px 15px 7px 11px;
  display: flex;
  justify-content: space-between;
}

.price__inputs__inputWrapper {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 14.4669px;
  line-height: 21px;
  letter-spacing: 0.570958px;
  color: #bdbdbd;
}

.price__inputs__inputWrapper input,
.area__inputs__inputWrapper input,
.levels__inputs__inputWrapper input {
  width: calc(100% - 15px);
  outline: none;
  border: none;
  background-color: transparent;
}

.price__header {
  text-align: end;
  width: 75px;
  padding-right: 5px;
}

.priceSwitcher {
  display: flex;
  align-items: center;
  margin-left: 90px;
  margin-bottom: 34px;
  gap: 10px;
}

.priceSwitcher__afterText {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 700;
  font-size: 11.9296px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.470823px;
  color: #d49702;
}

.priceSwitcher__beforeText {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 11.9296px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.470823px;
  color: #ababab;
}

.realEstate {
  display: flex;
  gap: 21px;
  margin-left: 90px;
  margin-bottom: 36px;
}

.realEstate__btn {
  padding: 6.34px 14.5px;
  background: #e7e7e9;
  border-radius: 7.24947px;
}

.realEstate__btn span {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 13.5928px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.536461px;
  color: rgba(60, 60, 67, 0.6);
}

.rooms {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;
}

.rooms__btn {
  padding: 6.34px 14.5px;
  background: #e7e7e9;
  border-radius: 7.24947px;
}

.rooms__btn span {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 13.5928px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.536461px;
  color: rgba(60, 60, 67, 0.6);
}

.rooms__header {
  text-align: end;
  width: 75px;
  padding-right: 5px;
}

.startDate__wrapper {
  padding: 7px 10px 7px 12px;
  background: #f7f7f7;
  border-radius: 4px;
  width: 124px;
  height: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.startDate__wrapper input {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 14.4669px;
  line-height: 21px;
  letter-spacing: 0.570958px;
  color: #9f9f9f;
  width: calc(100% - 31px);
  outline: none;
  border: none;
  background-color: transparent;
}

.subway {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 31px;
}

.subway__inputs {
  display: flex;
  gap: 10px;
}

.subway__inputs__inputWrapper {
  background: #ececec;
  border-radius: 4px;
  width: 160px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.subway__inputs__inputWrapper,
.area__inputs__inputWrapper,
.levels__inputs__inputWrapper {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 14.4669px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.570958px;
  color: #bdbdbd;
}

.subway__header {
  text-align: end;
  width: 75px;
  padding-right: 5px;
}

.subway__header,
.rooms__header,
.price__header,
.levels__header,
.area__header {
  font-family: "Museo Sans Cyrl";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  text-align: right;
  color: #d49702;
}

.rooms {
  width: 60%;
}

.subwaySearch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  border-radius: 4px;
  margin-left: 90px;
  margin-bottom: 37px;
  width: 300px;
  height: 55px;
  padding: 0 34px 0 16px;
}

.subwaySearch input {
  outline: none;
  border: none;
  width: calc(100% - 76px);
}

.switcher {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  height: 40px;
  width: calc((100% - 60px) / 3);
  min-width: 350px;
  background: rgba(118, 118, 128, 0.12);
  border-radius: 40px;
  margin-left: 90px;
  margin-bottom: 32px;
}

.switcher__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.switcher__btn-clicked {
  background: #fac543;
  border-radius: 40px;
}

.switcher__btn-clicked p {
  color: #ffffff;
}

.switcher__btn__text {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.592px;
  color: rgba(60, 60, 67, 0.6);
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 298px;
  height: 46px;
  background: #ffffff;
  border-radius: 80px;
}

.search__icon {
  height: 25px;
  width: 25px;
  margin-left: 13px;
}

.search__input {
  border: none;
  height: 25px;
  width: 200px;
  outline: none;
  padding-left: 25px;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #c4c4c4;
}

.container__note,
.container__datePhone,
.container__details,
.container__settings {
  margin-left: 28px;
}

::placeholder {
  color: #c4c4c4;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #c4c4c4;
}

::-ms-input-placeholder {
  color: #c4c4c4;
}

/* Модальный pop-up */

.areaText,
.priceText {
  font-family: "Museo Sans Cyrl";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 153.19%;
  letter-spacing: 0.015em;
}

.areaText span,
.priceText span {
  color: #d49702;
}

.areaText span {
  font-size: 22px;
}

.areaText sup {
  font-weight: 700;
  font-size: 14px;
}

.priceText {
  color: rgba(0, 0, 0, 0.4);
}

.priceText span span {
  font-size: 16px;
}

.priceText span span sup {
  font-weight: 700;
  font-size: 10px;
}

.modalBtns {
  display: flex;
  justify-content: space-between;
}

.modalBtns__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc((100% - 19px) / 2);
  height: 65px;
  border: 2px solid #fac543;
  border-radius: 83.6364px;
}

.modalBtns__wrap > span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 175.19%;
  text-align: center;
  letter-spacing: 0.015em;
  color: #866107;
}

.modalBtns__wrap-clicked {
  background: #fac543;
}

.modalContent {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(111, 90, 90, 0.4);
  display: grid;
  place-items: center;
  visibility: hidden;
  z-index: -10;
}

.modalContent-open {
  visibility: visible;
  z-index: 10;
}

.modalContainer {
  width: 578px;
  background: #f3f3f3;
  border-radius: 10px;
  position: relative;
  padding: 60px 37px 28px 60px;
}

.modalContainer__back {
  position: absolute;
  top: 12px;
  left: 32px;
  z-index: -1;
  width: calc(100% - 64px);
  height: 100%;
  background: #d9d9d9;
  box-shadow: 0px -5.68473px 60.6371px rgba(0, 0, 0, 0.25);
  border-radius: 9.47455px;
}

.modalContainer__closeBtn {
  position: absolute;
  top: -48px;
  right: -48px;
}

.modalContainer__createPopUp {
  left: 46px;
  top: -32px;
  position: absolute;
}

.modalContainer__createPopUpMobile {
  display: none;
}

.modalContainer__date {
  display: flex;
  gap: 70px;
  margin-bottom: 22px;
}

.modalContainer__date__expire {
  display: flex;
  align-items: center;
  gap: 18px;
}

.modalContainer__date__expire p {
  font-family: "Museo Sans Cyrl";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #9c9487;
}

.modalContainer__date__created p {
  font-family: "Museo Sans Cyrl";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 153.19%;
  letter-spacing: 0.015em;
  color: #000000;
}

.modalContainer__editBlock {
  display: flex;
  flex-direction: column;
  gap: 42px;
}

.modalContainer__editBlock span {
  font-family: "Museo Sans Cyrl";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 153.19%;
  letter-spacing: 0.015em;
  color: #d49702;
}

.modalContainer__editBlock__copy,
.modalContainer__editBlock__delete,
.modalContainer__editBlock__edit {
  display: flex;
  align-items: center;
  gap: 14px;
}

.modalContainer__header {
  margin-bottom: 28px;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 700;
  font-size: 31px;
  line-height: 37px;
  letter-spacing: 0.340597px;
  color: #000000;
}

.modalContainer__infoBlock__details {
  display: flex;
  gap: 48px;
  margin-bottom: 23px;
}

.modalContainer__infoBlock__details span {
  font-family: "Museo Sans Cyrl";
  font-style: normal;
  font-weight: 400;
  font-size: 15.2251px;
  line-height: 153.19%;
  letter-spacing: 0.015em;
  color: #818181;
}

.modalContainer__infoBlock__mobileDateCreated {
  display: none;
}

.modalContainer__infoBlock__levelsPhone {
  display: flex;
  gap: 20px;
  flex-direction: column;
  margin-bottom: 35px;
}

.modalContainer__infoBlock__levelsPhone p {
  font-family: "Museo Sans Cyrl";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 153.19%;
  letter-spacing: 0.015em;
  color: #535353;
}

.modalContainer__infoBlock__levelsPhone p span {
  color: #818181;
}

.modalContainer__infoBlock__priceArea {
  display: flex;
  align-items: baseline;
  gap: 48px;
  margin-bottom: 21px;
}

.modalInfo {
  display: flex;
  justify-content: space-between;
}

.modalSidebar {
  position: absolute;
  height: 100%;
  width: auto;
  background: #686868;
  left: 0;
}

.modalSidebar > img {
  margin: 26px 24px;
}

.infoBlock__inputWrapper {
  background: #ffffff;
  border-radius: 3.43174px;
  padding: 10px 22px 13px 18px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 340px;
  margin-bottom: 54px;
}

.infoBlock__inputWrapper__textArea {
  resize: none;
  outline: none;
  border: none;
  width: 280px;
  height: 22px;
  font-family: "Museo Sans Cyrl";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #9c9487;
  overflow: hidden;
}

/* Адаптив */

@media screen and (max-width: 1600px) {
  .containerWrapper {
    width: calc(50% - 15px);
  }

  .content__container {
    width: 90%;
  }
}

@media screen and (max-width: 1280px) {
  .content__header,
  .filtration,
  .content__container {
    width: 90%;
  }
  .content__container {
    flex-direction: column;
    align-content: center;
  }
  .containerCreate {
    align-content: center;
  }
}

@media screen and (max-width: 900px) {
  .containerParams {
    justify-content: center;
    width: 100%;
  }

  .containerWrapper {
    width: 100%;
  }

  .container-rightShift {
    transform: translateX(73px);
  }

  .container-leftShift {
    transform: translateX(-73px);
  }

  .containerCreate {
    background: none;
    width: 100%;
  }

  .containerCreate__settings,
  .containerCreate__btn {
    margin: 0;
  }

  .containerWrapper__settingsMobile {
    z-index: -10;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
  }

  .containerWrapper__settingsMobile__edit,
  .containerWrapper__settingsMobile__delete {
    width: 50%;
    border-radius: 8px;
    line-height: 100%;
    display: flex;
    align-items: center;
  }

  .containerWrapper__settingsMobile__edit img,
  .containerWrapper__settingsMobile__delete img {
    vertical-align: middle;
  }

  .containerWrapper__settingsMobile__edit img {
    margin-right: 30px;
  }

  .containerWrapper__settingsMobile__delete img {
    margin-left: 30px;
  }

  .containerWrapper__settingsMobile__edit {
    background: #93b2ed;
    backdrop-filter: blur(100px);
    justify-content: flex-end;
  }

  .containerWrapper__settingsMobile__delete {
    background: #fa765a;
    backdrop-filter: blur(100px);
  }

  .containerCreate__settings__name,
  .containerCreate__settings__comment {
    background: #ffffff;
  }

  .filtration {
    margin-bottom: 27px;
  }

  .navbarMobile {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .containerCreateWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .containerCreate__btn {
    width: 100%;
  }

  .containerCreate__btnMobileSetings div {
    display: flex;
  }

  .containerCreate__btn {
    margin-top: 20px;
  }

  .content {
    margin-bottom: 26px;
  }

  .content__header,
  .navbarMobile,
  .filtration,
  .content__container {
    min-width: 346px;
    width: calc(100% - 30px);
  }

  .content {
    overflow: hidden;
  }

  .content__container {
    flex-direction: column;
    gap: 20px;
  }

  .content__header {
    flex-direction: column;
    margin-top: 88px;
    margin-bottom: 28px;
    gap: 14px;
  }

  .content__header__text {
    text-align: center;
    margin: 0;
  }

  .content__header__mobileCityChange {
    display: flex;
    gap: 7px;
    justify-content: center;
  }

  .content__header__mobileCityChange span {
    font-family: "Museo Sans Cyrl";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 153%;
    letter-spacing: 0.015em;
    color: #818181;
  }

  .contentWrapper {
    min-height: 100vh;
  }

  .levelsBtns__block {
    width: 30%;
  }

  .search {
    display: none;
  }

  .switcher {
    width: 100%;
    min-width: auto;
    margin-left: 0;
    gap: 0;
  }

  .switcher,
  .realEstate,
  .priceSwitcher,
  .levelsBtns,
  .subwaySearch,
  .mapSearch {
    margin-left: 0;
  }

  .rooms__header,
  .price__header,
  .area__header,
  .levels__header {
    padding: 0;
    width: 100%;
    text-align: left;
  }

  .subwaySearch {
    width: calc(100% - 40px);
  }

  .startDate__wrapper {
    background: none;
    gap: 0;
    width: 110px;
  }
  .switcher__btn {
    min-width: auto;
  }

  .mapSearch {
    width: 100%;
  }

  .price,
  .rooms,
  .area,
  .levels {
    flex-wrap: wrap;
  }

  .price__inputs,
  .area__inputs,
  .levels__inputs,
  .levels__inputs,
  .levelsBtns {
    width: 100%;
    justify-content: space-between;
  }

  .price__inputs__inputWrapper,
  .area__inputs__inputWrapper,
  .levels__inputs__inputWrapper {
    width: calc(50% - 5px);
  }

  .priceSwitcher,
  .area {
    margin-bottom: 24px;
  }

  .rooms {
    margin-bottom: 29px;
  }

  .modalContainer {
    width: calc(100vw - 50px);
    padding: 14px 25px 45px;
    border-radius: 10px 10px 0 0;
  }

  .modalContainer__back {
    width: calc(100% - 18px);
    top: -8px;
    left: 9px;
    box-shadow: 0px -6px 64px rgba(0, 0, 0, 0.25);
  }

  .modalContainer__date__created {
    display: none;
  }

  .modalContainer__editBlock {
    justify-content: space-between;
    flex-direction: row;
    width: calc(100% - 60px);
    margin-left: 30px;
  }

  .modalContainer__editBlock span {
    display: none;
  }

  .modalContainer__infoBlock__mobileDateCreated {
    display: block;
    width: 100%;
    margin-bottom: 28px;
    margin-left: 3px;
    font-family: "Museo Sans Cyrl";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 153%;
    letter-spacing: 0.015em;
    color: #000000;
  }

  .modalContent {
    display: flex;
    align-items: flex-end;
    background: none;
  }

  .modalSidebar {
    display: none;
  }

  .modalBtns {
    flex-direction: column;
    gap: 21px;
  }

  .modalBtns__wrap {
    width: 100%;
  }

  .modalContainer__createPopUp {
    display: none;
  }

  .modalContainer__createPopUpMobile {
    display: block;
    z-index: 2;
    left: 15px;
    top: 37px;
    position: absolute;
  }
  .modalContainer__mobileCloseLine {
    display: block;
    background: #c4c4c4;
    opacity: 0.5;
    border-radius: 30px;
    margin: 0 auto 72px;
    height: 4px;
    width: calc(100% - 149px);
  }

  .modalContainer__date {
    margin-bottom: 20px;
  }

  .modalContainer__editBlock {
    position: absolute;
    top: 44px;
    left: 0px;
  }
  .modalInfo {
    flex-direction: column;
  }

  .infoBlock__inputWrapper {
    width: auto;
    margin-bottom: 19px;
  }
}
